[Unit]
Description=GitHub Webhook Listener
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/opt/github-webhook-listener/
EnvironmentFile=
ExecStart=/opt/github-webhook-listener/bin/github-webhook-listener -c /etc/github-webhook-listener/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60
SuccessExitStatus=
TimeoutStopSec=5
User=synchronize
ExecStartPre=/bin/mkdir -p /run/github-webhook-listener
ExecStartPre=/bin/chown synchronize:synchronize /run/github-webhook-listener
ExecStartPre=/bin/chmod 755 /run/github-webhook-listener
PermissionsStartOnly=true
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target