<configuration>
    <appender name="STDOUT-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%highlight(%level)] [%boldYellow(%marker)] [%thread] %cyan({%mdc}) — %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%marker] [%thread] {%mdc} — %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOGBACK_TEST_ROOT_LEVEL:-WARN}">
        <if condition='isDefined("console-color")'>
            <then>
                <appender-ref ref="STDOUT-COLOR"/>
            </then>
            <else>
                <appender-ref ref="STDOUT-NOCOLOR"/>
            </else>
        </if>
    </root>
</configuration>
