name: deploy
on:
  workflow_dispatch:

jobs:
  build_native_matrix:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Native Docker image for ${{ matrix.platform }}
        run: |
          make push-native-platform PLATFORM=${{ matrix.platform }}
        env:
          GIT_TAG: ${{ github.ref }}

  create_native_manifest:
    needs: build_native_matrix
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and Push Native multi-platform manifest
        run: |
          make push-native-manifest
        env:
          GIT_TAG: ${{ github.ref }}

  all:
    name: Pushed All
    if: always()
    needs: [ create_native_manifest ]
    runs-on: ubuntu-22.04
    steps:
      - name: Validate required tests
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
