name: deploy
on:
  release:
    types: [published]

jobs:
  deploy_docker:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@master

    - name: Install Docker
      run: |
        sudo apt-get install docker.io -y

    - name: Login to Docker
      run: sudo docker login --username=$DOCKER_USER  --password=$DOCKER_PASS
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}

    - name: Build Docker image
      run: |
        sudo make build
      env:
        GIT_TAG: ${{ github.ref }}

    - name: Push Docker image
      run: |
        sudo make push
  