name: deploy
on:
  workflow_dispatch:

jobs:
  build_matrix:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set platform tag
        id: platform
        run: echo "tag=$(echo ${{ matrix.platform }} | tr '/' '-')" >> $GITHUB_OUTPUT

      - name: Build and Push Docker image for ${{ matrix.platform }}
        run: |
          make push-docker-platform PLATFORM=${{ matrix.platform }}
        env:
          GIT_TAG: ${{ github.ref }}

  create_manifest:
    needs: build_matrix
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and Push multi-platform manifest
        run: |
          make push-manifest
        env:
          GIT_TAG: ${{ github.ref }}
